body, h1, p {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.home {
    background-color: #714f32;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 1em 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-left: 3rem;
    font-size: 1.5rem;
}

nav ul li a:hover {
    color: #f2ff00;
}

.main-content {
    padding: 5rem;
}

.main-content h1{
    text-align: center;
    color: #714f32;
    padding-bottom: 1rem;
    font-size: 6rem;
    padding-bottom: 3rem;
}

.main-content p {
    text-align: center;
    color: #714f32;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.container .title{
    font-size: 3rem;
    color: #714f32;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.351);
}

.container .services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
}

.container .services-container .services{
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, .1);
    border-radius: 4rem;
}

.container .services-container .services img{
    height: 25rem;
}

.container .services-container .services:hover img{
    transform: scale(.9);
}

.container .services-container .services h3{
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;
}

.container .services-container .services:hover h3{
    color: #3498db;
}

.container .services-container .services .price{
    font-size: 2rem;
    color: #444;
}

.container .services-container .services .register-button{
    
    display: inline-block;
    padding: 10px 20px;
    background-color: #714f32;
    color: white;
    border: none;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
}

.container .services-container .services .register-button:hover{
    background-color: #3498db;
}